<table style="width:80%;margin-left: 100px">
    <tr>
        <td>
            <h2>Car List from API</h2>
        </td>
    </tr>
    <tr>
        <td>
            <br />
            <div class="ContentSideSections Implementation">
                <p-dataTable [value]="rowData" [rows]="10" [paginator]="true"
                             [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
                    <header>Car Details</header>
                    <p-column field="networkId" [style]="{'width':'50px'}"
                              header="networkId" [sortable]="true"></p-column>
                    <p-column field="displayTitle"
                              header="displayTitle" [sortable]="true"></p-column>
                    <p-column field="siloTypeFriendlyName"
                              header="siloTypeFriendlyName" [sortable]="true"></p-column>
                    <p-column field="siloTypeColour" [style]="{'width':'200px'}"
                              header="siloTypeColour" [sortable]="true"></p-column>
                    <p-column field="displayLocation"
                              header="displayLocation" [sortable]="true"></p-column>
                    <footer>
                        <div class="ui-helper-clearfix"
                             style="width:100%"></div>
                    </footer>
                </p-dataTable>

               
            </div>
        </td>
    </tr>
</table>